name: Run Options Engine
on:
  schedule:
    - cron: "*/10 3-10 * * 1-5"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - run: pip install yfinance requests
      
      - run: python engine.py
      
      - name: Commit and push
        run: |
          git config user.name 'bot'
          git config user.email 'bot@github.com'
          git add data.json
          git commit -m "update data" || exit 0
          git pull --rebase
          git push
